<div class="container mx-auto">
  <div class="row grid-design">
    <!-- Example Product Card -->
    <div class="col-md-6 col-lg-3 mb-4">
      <div class="card card-design">
        <img src="https://jchats.mx/cdn/shop/files/45GRADOSIZQ_1100x.png?v=1691684632" class="card-img-top" alt="Product Image">
        <div class="card-body">
          <h5 class="card-title">Product Title</h5>
          <p class="card-text">$19.99</p>
          <a href="#" class="btn btn-primary button-cart">Add to Cart</a>
        </div>
      </div>
    </div>

    <div class="col-md-6 col-lg-3 mb-4">
      <div class="card card-design">
        <img src="https://jchats.mx/cdn/shop/files/45GRADOSDER_1100x.png?v=1691625361" class="card-img-top" alt="Product Image">
        <div class="card-body">
          <h5 class="card-title">Product Title</h5>
          <p class="card-text">$19.99</p>
          <a href="#" class="btn btn-primary button-cart">Add to Cart</a>
        </div>
      </div>
    </div>

    <div class="col-md-6 col-lg-3 mb-4">
      <div class="card card-design">
        <img src="https://jchats.mx/cdn/shop/files/45GRADOSDER_f9e4ebff-2235-4483-bc3f-a883ef5cf814_1100x.png?v=1691689119" class="card-img-top" alt="Product Image">
        <div class="card-body">
          <h5 class="card-title">Product Title</h5>
          <p class="card-text">$19.99</p>
          <a href="#" class="btn btn-primary button-cart">Add to Cart</a>
        </div>
      </div>
    </div>

     <div class="col-md-6 col-lg-3 mb-4">
      <div class="card card-design">
        <img src="https://jchats.mx/cdn/shop/files/45GRADOSDER_f9e4ebff-2235-4483-bc3f-a883ef5cf814_1100x.png?v=1691689119" class="card-img-top" alt="Product Image">
        <div class="card-body">
          <h5 class="card-title">Product Title</h5>
          <p class="card-text">$19.99</p>
          <a href="#" class="btn btn-primary button-cart">Add to Cart</a>
        </div>
      </div>
    </div>

     <!-- Example Product Card -->
    <div class="col-md-6 col-lg-3 mb-4">
      <div class="card card-design">
        <img src="https://jchats.mx/cdn/shop/files/45GRADOSIZQ_1100x.png?v=1691684632" class="card-img-top" alt="Product Image">
        <div class="card-body">
          <h5 class="card-title">Product Title</h5>
          <p class="card-text">$19.99</p>
          <a href="#" class="btn btn-primary button-cart">Add to Cart</a>
        </div>
      </div>
    </div>

    <div class="col-md-6 col-lg-3 mb-4">
      <div class="card card-design">
        <img src="https://jchats.mx/cdn/shop/files/45GRADOSDER_1100x.png?v=1691625361" class="card-img-top" alt="Product Image">
        <div class="card-body">
          <h5 class="card-title">Product Title</h5>
          <p class="card-text">$19.99</p>
          <a href="#" class="btn btn-primary button-cart">Add to Cart</a>
        </div>
      </div>
    </div>

    <div class="col-md-6 col-lg-3 mb-4">
      <div class="card card-design">
        <img src="https://jchats.mx/cdn/shop/files/45GRADOSDER_f9e4ebff-2235-4483-bc3f-a883ef5cf814_1100x.png?v=1691689119" class="card-img-top" alt="Product Image">
        <div class="card-body">
          <h5 class="card-title">Product Title</h5>
          <p class="card-text">$19.99</p>
          <a href="#" class="btn btn-primary button-cart">Add to Cart</a>
        </div>
      </div>
    </div>

     <div class="col-md-6 col-lg-3 mb-4">
      <div class="card card-design">
        <img src="https://jchats.mx/cdn/shop/files/45GRADOSDER_f9e4ebff-2235-4483-bc3f-a883ef5cf814_1100x.png?v=1691689119" class="card-img-top" alt="Product Image">
        <div class="card-body">
          <h5 class="card-title">Product Title</h5>
          <p class="card-text">$19.99</p>
          <a href="#" class="btn btn-primary button-cart">Add to Cart</a>
        </div>
      </div>
    </div>
  </div>

  <div class="row justify-content-center mt-3 button-show-more my-3">
      <button class="btn btn-dark button-design-products">Show more</button>
    </div>
</div>
