<div class="container gap-5">
  <h1 class="text-center">Frequently Asked Questions</h1>
  <h3 class="text-center">Common Answers</h3>

  <div class="row py-3">
    <div class="col-sm-12 col-md-6 mb-4">
      <div class="shadow-lg p-3 bg-body-tertiary rounded">
        <h2>What payment methods are accepted by MonkeyHats?</h2>
        <p>A: We currently accept payments in cash and bank transfers. Our aim is to provide you with flexible payment options to make your shopping experience as convenient as possible.</p>
      </div>
    </div>
    
    <div class="col-sm-12 col-md-6 mb-4">
      <div class="shadow-lg p-3 bg-body-tertiary rounded">
        <h2>How do I place an order on MonkeyHats?</h2>
        <p>A: Ordering from MonkeyHats is simple. Browse our collection, select your desired products, and then confirm your order by contacting us via WhatsApp. Our dedicated team will guide you through the process and ensure a smooth transaction.</p>
      </div>
    </div>
  </div>

  <div class="row py-3">
    <div class="col-sm-12 col-md-6 mb-4">
      <div class="shadow-lg p-3 bg-body-tertiary rounded">
        <h2>Can I cancel or modify my order after it's been confirmed on WhatsApp?</h2>
        <p>A: Once an order is confirmed on WhatsApp, it cannot be canceled or modified. Please review your order carefully before confirming to avoid any inconvenience.</p>
      </div>
    </div>
    
    <div class="col-sm-12 col-md-6 mb-4">
      <div class="shadow-lg p-3 bg-body-tertiary rounded">
        <h2>What is the delivery time for orders in Colima?</h2>
        <p>A: We offer immediate delivery for orders within Colima, guaranteed before 6:00 PM on the same day your order is confirmed. Enjoy your MonkeyHat products without delay!</p>
      </div>
    </div>
  </div>

  <div class="row py-3">
    <div class="col-sm-12 col-md-6 mb-4">
      <div class="shadow-lg p-3 bg-body-tertiary rounded">
        <h2>Do you offer shipping outside of Colima?</h2>
        <p>A: Currently, we provide delivery services exclusively within Colima. We're working to expand our reach, so stay tuned for updates on our shipping locations.</p>
      </div>
    </div>
    
    <div class="col-sm-12 col-md-6 mb-4">
      <div class="shadow-lg p-3 bg-body-tertiary rounded">
        <h2>Are MonkeyHats products made in Mexico?</h2>
        <p>A: Yes, we take pride in offering a curated collection of caps and headwear that are designed and crafted in Mexico. We believe in showcasing the excellence of Mexican craftsmanship.</p>
      </div>
    </div>
  </div>

  <div class="row py-3">
    <div class="col-sm-12 col-md-6 mb-4">
      <div class="shadow-lg p-3 bg-body-tertiary rounded">
        <h2>How can I ensure the quality of MonkeyHats products?</h2>
        <p>A: We are committed to providing the best quality caps. If you have any concerns about the quality of your purchase, please contact our customer support, and we will be happy to assist you.</p>
      </div>
    </div>
    
    <div class="col-sm-12 col-md-6 mb-4">
      <div class="shadow-lg p-3 bg-body-tertiary rounded">
        <h2>What is your return and refund policy?</h2>
        <p>A: We have a 30-day return policy. If you're not completely satisfied with your purchase, please reach out to our customer support team for return instructions. We'll be happy to assist you in processing your refund or exchange.</p>
      </div>
    </div>
  </div>

  <div class="row py-3">
    <div class="col-sm-12 col-md-6 mb-4">
      <div class="shadow-lg p-3 bg-body-tertiary rounded">
        <h2>How can I contact MonkeyHats customer support?</h2>
        <p>A: You can reach our customer support team by emailing support@monkeyhats.com or by sending us a message via WhatsApp at WhatsApp Support.</p>
      </div>
    </div>
    
    <div class="col-sm-12 col-md-6 mb-4">
      <div class="shadow-lg p-3 bg-body-tertiary rounded">
        <h2>Do you offer any promotions or discounts?</h2>
        <p>A: Yes, we frequently offer promotions and discounts on our products. Keep an eye on our website and social media channels for updates on the latest deals and offers.</p>
      </div>
    </div>
  </div>
</div>
