@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@200;300;400;500;600;700;800&display=swap');

  //Font variables and colors
  $font-family-main: 'Assistant', sans-serif;
  $black-background: #181818;
  $white-background: #ffffff;
  $black-background-input: #ffffff;
  $black-background-input-hover: #ffae00bc;
  $brand-color-yellow: #FFAD01;
  $brand-color-yellow-hover: #000000;
  $color-gray: #5a5a5a;
