@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@200;300;400;500;600;700;800&display=swap');

  //Font variables and colors
  $font-family-main: 'Assistant', sans-serif;
  $black-background: #181818;
  $brand-color-yellow: #FFAD01;