  <footer class="text-white text-center text-lg-start background-footer widh-100">
    <!-- Grid container -->
    <div class="container py-5 ">
      <!--Grid row-->
      <div class="row mt-4">
        <!--Grid column-->
        <div class="col-lg-4 col-md-12 col-12 mb-4 mb-md-0">
          <h5 class="text-uppercase mb-4 text-center">About Us</h5>
          <p>
            Welcome to Monkey Hats, a leader in online cap distribution in Colima, Mexico!
            We offer the best brands and unique designs. Join us and discover the next level in fashion and quality!
          </p>
          <div class="mt-4">
            <!-- Facebook -->
            <a type="button" class="btn btn-social btn-lg" href="https://www.facebook.com/profile.php?id=100089776601680">
              <i class="fa-brands fa-facebook-f fa-lg"></i>
            </a>
            <!-- Instagram -->
            <a type="button" class="btn btn-social btn-lg mx-2" href="https://instagram.com/monkey_hats.mx?igshid=MzRlODBiNWFlZA==">
              <i class="fa-brands fa-instagram fa-lg"></i>
            </a>
            <!-- Whatsapp + -->
            <a type="button" class="btn btn-social btn-lg" href="https://api.whatsapp.com/message/SADI4ER5ZSGLP1?autoload=1&app_absent=0">
              <i class="fa-brands fa-whatsapp fa-lg"></i>
            </a>
          </div>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-4 col-md-6 col-12 mb-4 mb-md-0 px-lg-3">

          <h5 class="text-uppercase mb-4 pb-1 text-center">Find a Model</h5>
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Search">
            <div class="input-group-btn">
              <button class="btn btn-default" type="submit">
                <i class="fas fa-search text-white"></i>
              </button>
            </div>
          </div>  
          
          <div class="mt-5">
            <h5 class="text-uppercase mb-4 text-center">Business hours</h5>
            <table class="table text-center text-white">
              <tbody class="font-weight-normal">
                <tr>
                  <td>Mon - Sat</td>
                  <td>12pm - 7pm</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-4 col-md-6 col-12 mb-4 mb-md-0 text-left">
          <h5 class="text-uppercase mb-4 text-center">Contact information</h5>
          <ul class="fa-ul">
            <li class="mb-3">
              <span class="fa-li"><i class="fas fa-phone"></i></span>
              <span class="ms-2">+52 312 210 5665</span>
            </li>
            <li class="mb-3">
              <span class="fa-li"><i class="fas fa-home"></i></span>
              <span class="ms-2">Av Constitución #1544 Colima col.</span>
            </li>
            <li class="mb-3">
              <span class="fa-li "><i class="fa-solid fa-location-dot" style="color: #ffffff;"></i></span>
              <span class="ms-2">You can find us here!</span>
            </li>
          </ul>
          <div class="text-center mt-2">
            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d7533.106246536614!2d-103.715455!3d19.258298!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x84255b3e1be2c141%3A0x24105b584017862e!2sMonkey%20Hats!5e0!3m2!1ses-419!2smx!4v1691026735871!5m2!1ses-419!2smx" 
                width="100%", 
                style="border:0;",
                allowfullscreen="", 
                loading="lazy",
                referrerpolicy="no-referrer-when-downgrade">
            </iframe>
          </div>
        </div>
        <!--Grid column-->
      </div>
      <!--Grid row-->
    </div>
    <!-- Grid container -->

    <!-- Copyright -->
    <div class="text-center py-3" style="background-color: rgba(0, 0, 0, 0.2);">
      © 2023 MonkeyHats | All rights reserved.
    </div>
    <!-- Copyright -->
  </footer>
