<h1>Your Orders</h1>

<table class="table">
  <thead>
    <tr>
      <th>Total Price</th>
      <th>View Details</th>
    </tr>
  </thead>
  <tbody>
    <% @orders.each do |order| %>
      <tr>
        <td><%= number_to_currency(order.total_price) %></td>
        <td><%= link_to 'View Details', order_path(order) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
