<div class="jumbotron text-white text-center welcome-banner">
    <h1 class="display-4 mt-5">Welcome Monkey Hats!</h1>
    <p class="lead mb-5"><strong>Shop all the collection. </strong></p>
    <a href="#" class="btn btn-dark btn-lg col-4 offset-4 border-radius-4">Shop Now</a>
</div>
