<p>Hi <%= @order.user.full_name %></p>
<p>Your order cannot be completed and has been cancelled</p>
<p>We're sorry, please, contact us by WhatsApp displayed on our Page!</p>
<p>We'll be happy to help you get your shipment!</p>
