<p> Hi <%= @order.user.full_name %></p>
<p>Your order has been delivered, enjoy your new product!</p>
<p>Thank you for your purchase!</p>
<p>For changes or devolutions via WhatsApp or our retail store you can find more info on our page</p>
