<div class="container">
  <div class="row text-center">
    <h1 class="login-heading mb-4 fw-medium fs-1 fw-light my-md-5">Edit Address</h1>
  </div>
    <%= render "form", address: @address %>
</div>
