.bg-registration {
  background-image: image_url('registration-img.webp');
  background-size: cover;
  background-position: center;
}

.bg-edit-user {
  background-image: image_url('edit-user-img.webp');
  background-size: cover;
  background-position: center;
}
