<div class="bg-light">
  <div class="container ">
    <div class="row h-100 align-items-center py-5">
      <div class="col-lg-6">
        <h1 class="display-4">About us page</h1>
        <p class="lead text-muted mb-0"> Welcome to Monkey Hats, your ultimate destination for premium caps and headwear in Mexico. We are more than just an e-commerce store; we are a passion-driven team dedicated to bringing you the finest caps, the best brands, and unmatched quality at affordable prices.</p>
      </div>
      <div class="col-lg-6 d-none d-lg-block"><%= image_tag("MonkeyAbout.webp", class: "img-fluid") %>
</div>
    </div>
  </div>
</div>
