 @import "font-awesome";
 @import "bootstrap";
 @import "jquery-ui.css";

 @import
 "config/variables.scss",
 "components/buttons.scss",
 "components/login.scss",
 "components/links.scss",
 "components/top-message.scss",
 "components/confirmation.scss",
 "components/registrations.scss",
 "components/passwords.scss",
 "components/banner.scss",
 "components/products.scss",
 "layout/footer.scss",
 "layout/navbar.scss";

body {
  font-family: $font-family-main;
 }

 .top-message-size {
  background-color: $black-background;
  font-size: .9rem;
  letter-spacing: 0.05rem;
  margin-bottom: 187px;
  position: relative; /* Agrega esta línea */
  z-index: 200;
}

 // ** Navbar design **//
#navbar {
    display: block;
    left: 0;
    position: fixed;
    right: 0;
    top: 21.6px;
    transition: top 0.3s; /* Adjust this value based on your navbar's height */
    width: 100%;
    z-index: 100;
    /* Add other styling properties as needed */
}
 // **END**//

 // **PRODUCTS DESIGN **//
 .card-design{
  border: none;
  cursor: pointer;
 }

 .button-cart{
  margin-top: 2rem;
  background-color: $black-background;
  color: $white-background;
  border: none;
  width: 100%;
  text-align: center;
 }

 .button-cart:hover{
  background-color: $brand-color-yellow;
  color: $black-background;
 }

 .button-design-products{
  background-color: transparent;
  border: none;
  color: $black-background;
  width: 200px;
 }

 .button-design-products:hover{
  background-color: transparent;
  color: $black-background;
  text-decoration: underline;
 }

 @media (max-width: 767px) {
  .grid-design{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
   }
}

.product {
  border: 1px solid #ddd;
  padding: 15px;
  text-align: center;

  img {
    height: 400px;
    max-width: 100%;
  }

  h2 {
    margin-top: 10px;
    font-size: 1.2em;
  }
}
