 @import "font-awesome";
 @import "bootstrap";
 @import "./config/variables";
 @import "./components/top-message";
 @import "./layout/footer";
 @import "./layout/navbar";




 body{
  padding: 0!important;
  margin:0!important;
  font-family: var(--font-family-main) !important;
 }