<div class="container mt-5">
  <h1 class="text-center login-heading mb-4 fw-medium fs-1 fw-light">Edit Brand</h1>

  <div class="card mb-4">
    <div class="card-header">
      <strong class="text-uppercase">Edit Brand: <%= @brand.name %></strong>
    </div>
    <div class="card-body">
      <%= render "form", brand: @brand %>
    </div>
  </div>

  <div class="text-center mb-md-4">
    <%= link_to "Back to brands", brands_path, class: "btn btn-secondary" %>
  </div>
</div>
