<!DOCTYPE html>
<html>
<head>
  <title>Brands</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
  <div class="container mt-5">
    <div class="alert alert-success" role="alert">
      <%= notice %>
    </div>
    
    <h1>Brands</h1>

    <div id="brands">
      <div class="row">
        <% @brands.each do |brand| %>
          <div class="col-md-6 mb-4">
            <%= render brand %>
            <p class="mt-2">
              <%= link_to "Show this brand", brand, class: "btn btn-info" %>
            </p>
          </div>
        <% end %>
      </div>
    </div>

    <div class="mt-3">
      <%= link_to "New brand", new_brand_path, class: "btn btn-primary" %>
    </div>
  </div>
</body>
</html>
