<div class="container">
  <div class="row text-center">
    <h1 class="my-5 login-heading mb-4 fw-medium fs-1 fw-light">New product</h1>
  </div>

  <div class="row offset-3 col-6">
    <%= render "form", product: @product %>
  </div>

  <br>

  <div class="text-center mb-5">
    <%= link_to "Back to products", products_path, class: "btn btn-secondary text-uppercase fw-bold" %>
  </div>
</div>
