<div class="container">
  <div class="row text-center">
    <h1 class="my-5 login-heading  fw-medium fs-1 fw-light">New product</h1>
  </div>
  <div class="row offset-md-3 col-md-6">
    <%= render "form", product: @product %>
  </div>
  <br>
  <div class="text-center mb-5">
    <%= link_to "Back to products", products_path, class: "btn btn-secondary text-uppercase fw-bold" %>
  </div>
</div>
